.page_tools{
	padding-top: 20px;
}
.page_tools .inline{
	padding-left: 15px;
}
.page_tips{
	border: 1px dashed red;
	background: yellow;
	margin: 10px 20px;
	padding: 5px;
}
.page_title{
	margin: 40px 0 40px 20px;
}
.page_title h4{
	font-size: 28px;
	font-weight: 600;
}
.page_content{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}
.page_content img{
	max-width: 960px;
}