<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/item/index.css" />
<div class="container-narrow">
	<div class="container-thumbnails">
		<h4>我的项目：</h4>
		<ul class="thumbnails">
			<if condition="$login_user.groupid eq 1">
			<foreach name="own_items" item="item">
			<li class="span3 text-center">
				<a class="thumbnail" href="{:U('Home/Item/show', array('item_id'=>$item['item_id']))}" title="{$item.item_description}">
					<p class="my-item">{$item.item_name}</p>
				</a>
			</li>
			</foreach>
			</if>
			
			<li class="span3 text-center">
				<a class="thumbnail" href="{:U('Home/Item/edit')}" title="添加一个新项目">
					<p class="my-item "><i class="icon-plus"></i>&nbsp;新建项目</p>
				</a>
			</li>
		</ul>
	</div>
	
	<if condition="$pub_items">
	<div class="container-thumbnails">
		<h4>公开项目：</h4>
		<ul class="thumbnails">
			<foreach name="pub_items" item="item">
			<li class="span3 text-center">
				<a class="thumbnail" href="{:U('Home/Item/show', array('item_id'=>$item['item_id']))}" title="{$item.item_description}">
					<p class="my-item">{$item.item_name}</p>
				</a>
			</li>
			</foreach>
		</ul>
	</div>
	</if>
	
	<if condition="$view_items">
	<div class="container-thumbnails">
		<h4>最近浏览：</h4>
		<ul class="thumbnails">
			<foreach name="view_items" item="item">
			<li class="span3 text-center">
				<a class="thumbnail" href="{:U('Home/Item/show', array('item_id'=>$item['item_id']))}" title="{$item.item_description}">
					<p class="my-item">{$item.item_name}</p>
				</a>
			</li>
			</foreach>
		</ul>
	</div>
	</if>
	<!-- 
	<p class="text-center">
		<a class="btn btn-primary  btn-large" href="{:U('Home/item/show', array('item_id' => 2))}" target="_blank">Demo</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="btn  btn-large" href="{:U('Home/item/show', array('item_id' => 3))}" target="_blank" >帮助教程&nbsp;<i class="icon-circle-arrow-right"></i></a>
	</p>
	 -->
</div><!-- /container -->

<include file="Common/footer" />
