<include file="Common/header_base" />
<link rel="stylesheet" href="__PUBLIC__/css/modal.css" />

<div id="edit-cat" class="modal hide fade">
	<!-- 编辑框 -->
	<div class="cat-edit">
		<div class="modal-header">
			<h4>转让项目</h4>
		</div>
		<input type="hidden" id="item_id" value="{$item_id}">
		<div class="modal-content">
			<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="username">用户名</label>
				<div class="controls">
					<input type="text" id="username" placeholder="项目接收者用户名" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">验证身份</label>
				<div class="controls">
					<input type="password" id="password" placeholder="你的登录密码" value="">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn" id="save-cat">转让</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn exist-cat">关闭</a>
	</div>
</div>

<script src="__PUBLIC__/js/attorn/index.js"></script>

<include file="Common/footer_base" />
