body,html,.doc-body{
	height: 100%;
}
.doc-head{
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(221, 221, 221);
}
.dropdown-menu{
	min-width: 100px;
}
.doc-head h2{
}
.doc-head .left{
	padding-left: 30px;
	float: left;
}

.doc-head .right{
	padding-top: 15px;
	padding-right: 40px;
}
.span3{
	width: 250px;
}
.doc-right{
	padding-left:10px;
	border-left-color: rgb(221, 221, 221);
	border-left-width: 1px;
	border-left-style: solid;
}
.doc-left{
	position: relative;
	padding-top: 10px;
	overflow-y: auto;
	display: block;
	background: rgb(245, 245, 245);
}
.doc-left ul li{
	font-size: 16px;
	line-height: 30px;
}
.doc-left ul li a{
	color: #000;
}
.doc-left ul li a:hover ,.doc-left ul li a:focus{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #08c;
}
.child-ul{
	list-style: none;
	padding-left: 2px;
}
.child-ul li a {
	padding: 3px 5px;
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 25px;
}
.icon-blank{
	padding-right: 4px;
}
.doc-left-newbar{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}
.doc-left-newbar i{
	width: 15px;
	height: 15px;
}
.page-edit-link{
	padding-top: 20px;
}
.page-edit-link .inline{
	padding-left: 15px;
}
.iframe_content{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}
.search-query-input{
	width: 150px;
}
#share-modal h3{
	font-weight: normal;
}

